@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

*
{
	margin: 0;
    padding: 0;
}
span a:hover {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14);
  }
  

h1, h2, h3, h4, h5
{
  font-family: 'Open Sans', sans-serif;
}

.btn.btn-primary
{
    margin-top: 2%;
    box-shadow: grey;
	padding: 8px 25px;
	border: none;
}
#banner
{
    background-image: linear-gradient(  to right,rgb(247, 245, 247) ,rgb(255, 254, 254));
    padding-bottom: 20%;
}
.title {
    font-family: 'Barlow',sans-serif;
    font-weight: 300;
}

.box {
  border-radius: 5px;
  border-block-color:rgba(167, 167, 167, 0.14);
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.14);
  background: white;
  margin: 20px;
}
#phone {
  height: 200px;
  width: relative;
  margin-top: 10%;

}

#learn{
  margin-top: 10%;
}
#connect{
  margin-top: 10%;
}


#team{
  margin-top: 5%;
}
#image01{
  margin-top: 10%;
  margin-left: 45%;
}

.site-footer
{
  margin-top: 2%;
}

.social-icons
{
  margin-top: 5%;
}
.fa {
  padding: 3px;
  color: #000;
}
#sub{
  margin-top: 8%;
}

.site-footer
{
  padding-top: 3%;
  background-color: rgb(244, 245, 245);
}
#head02{
  margin-top: 8%;
  color: #000;
}





/*#logo
{
  position: absolute;
  margin-bottom:5%;
}
#logo path:nth-child(1){
  stroke-dasharray: 372px;
  stroke-dashoffset: 372px;

}
#logo path:nth-child(3){
  stroke-dasharray: 463px;
  stroke-dashoffset: 463px;

}
#logo path:nth-child(5){
  stroke-dasharray:0px;
  stroke-dashoffset: 0px; 
}

*/