{% extends 'base.html' %}

{% block title %}
PROJECTS
{% endblock title %}


{% block body %}

<section>
    <h1 class="container text-center" id="head02"> PROJECTS </h1>

</section>
<section id="profile">
<div class="container">
<div class="row">
  <div class="col-8">
  <h2>Developer Student Clubs</h2>


  </div>
  <div class="col-4">
  <h2>Top languages</h2>
  </div>
</div>
</div>

</section>


<div class="box py-5 " style=" margin: 10%;">

    <div class="row" style="margin-left: 10%; ">
        <div class="col-md-6">
            <img class="go" width="510" height="300" src="static/first.png"></img>
        </div>
        <div class="col-md-6 py-5">
            <h2>Recent Project</h2>
            <a href="https://github.com/developer-student-clubs-nitr"><i class="fa fa-github"
                    style="font-size: 48px;"></i></a>
            <h5 class="title " style="margin-left: 13%; margin-top: -6%"> Check out Repository </h5>

        </div>
    </div>

</div>






{% endblock body %}